@media screen and (max-width:576px) {
    .naver-container, .gamer-container, .about-section-img, .game-product, .product-image-container, .artist-section-top, .careers-section-warp{
        flex-direction: column;
    }
    .naver-container{
        margin-bottom: 20px;
    }
    .game-product .imgs .game-img{
        padding: 20px;
        width: 100%;
        height: auto;
    }
    .gamer-container .gamer-text{
        gap: 10px;
        padding: 20px 46px;
    }
    .product-photo .product-img{
        padding: 20px;
        width: 100%;
        height: auto;
    }
    .artist-section .artist-section-top-item{
        padding: 20px;
        width: 100%;
        height: auto;
    }
    .careers-container-section .careers-photo .careers-img{
        width: 500px;
        padding-bottom: 10px;
        margin: 0 auto;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .naver-containe, .gamer-container{
        flex-direction: column;
    }
    .footer-res{
        padding: 30px;
    }
    .product-photo .product-img{
        padding: 20px;
        width: 100%;
        height: auto;
    }
    .artist-section .artist-section-top-item{
        padding: 20px;
        width: 100%;
        height: auto;
    }
    .game-product .imgs .game-img{
        padding: 20px;
        width: 100%;
        height: auto;
    }
}