@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;700;800&display=swap');
* {
    box-sizing: border-box;
  }
body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* navbar starts here */
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.naver-container{
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.navergation-container{
    display: flex;
}
.logo-photo{
    width: 60px;
    padding: 5px;
}
span{
    color: #FF42A5;
    font-size: 25px;
    font-weight: 700;
    
}
.hive {
    color: #0B0223;
    font-size: 25px;
    font-weight: 700;
    
  }
.menu{
    margin-right: 10px;
    padding: 8px;
    font-size: 18px;
    /* color: #3C354F; */
    text-decoration: none;
    
}
#icon{
    margin-left: 5px;
    padding: 5px;
    color: #F61C0D;
}
#icon2{
    margin-left: 5px;
    color: #000000;
}
.navergation-container a{
    color: #3C354F;
}
.navergation-container .login{
    padding: 5px 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-weight: 700;
}
/* navbar ends here */

/* banner starts here */
.gamer-img{
    width: 400px;
}
.gamer-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid peru; */
    color: black;
    background-image: url("./images/pink-color.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
}
.title-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    margin-top: -40px;
}
.description{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}
.fa-regular{
    margin: 5px;
}
.description1{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}
.fa-solid{
    margin: 5px;
}
.description2{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}
.btn{
    border-radius: 48px;
    border: none;
    padding: 10px 20px;
    color: white;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}
/* banner ends here */

/* about starts here */
.about-section-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    /* flex-direction: row-reverse; */
    padding: 10px;
    max-width: 1050px;
    margin: 0 auto;
}
.about-img{
    width: 500px;
}
.about-text{
    text-align: end;
}
.about-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.des{
    color: #534C64;
}
.des1{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
/* about ends here */

/* online game starts here */
.game-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}
.span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.game-description{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.game-product{
    display: flex;
    gap: 10px;
    border-radius: 16px;
    
}
.game-img{
    width: 100%;
}
.game-product{
    width: 90%;
    margin: 0 auto;
}
.botton-tex{
    color: #534C64;
    
}
/* online game ends here */

/* product image starts here */
.product-image-container{
    align-items: center;
    display: flex;
    justify-content: space-around;
    max-width: 1130px;
    margin: auto;
    padding-bottom: 50px;
}

.product-image-content {
    text-align: end;
    padding-right: 140px;
}

img.product-img {
    max-width: 630px;
}

.product-photo {
    position: relative;
}

img.product-img-two {
    position: absolute;
    bottom: -50px;
    left: -130px;
}

/* artist starts here */
.artist-section-wrap {
    max-width: 109px;
    width: 100%;
    margin: auto;
}

section.artist-section {
    padding: 70px 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.artist-section-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.artist-section-top-item {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.artist-section-top-item .title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-left: 10px;
}
/* artist end here */